# Euro 2024 Prediction

Loading the imports that will be used in this project

In [12]:
import pandas as pd
import numpy as np
import glob

Gathering the euro summary finals and putting it into one dataframe and then gathering all euro matches from 1960-2020 and putting it into one dataframe.

In [13]:
# Load euro_summary_finals.csv
euro_summary_finals = pd.read_csv('euro_summary_finals.csv')

# List of years we want to include
years = [str(year) for year in range(1960, 2021, 4)]

# List to hold dataframes
matches_list = []

# Read each file and append to the list
for year in years:
    file_path = f'matches/{year}.csv'
    df = pd.read_csv(file_path)
    matches_list.append(df)

# Concatenate all match data into one DataFrame
all_matches = pd.concat(matches_list, ignore_index=True)

Taking a look at the euro_summary_finals dataframe

In [14]:
euro_summary_finals.head()

,year,winner,final,result,matches,goals,red_cards,attendance,attendance_avg
0,1960,USSR,USSR - Yugoslavia,1 - 1,4,17,0,78958.0,19739.50
1,1964,Spain,Spain - USSR,2 - 2,4,13,0,156253.0,39063.25
2,1968,Italy,Italy - Yugoslavia,2 - 2,5,7,1,260936.0,52187.20
3,1972,West Germany,West Germany - USSR,3 - 3,4,10,0,106510.0,26627.50
4,1976,Czechoslovakia,Czechoslovakia - West Germany,2 - 2 (5 - 3),4,19,3,106087.0,26521.75

Taking a look at the all_matches dataframe

In [15]:
all_matches.head()

,home_team,away_team,home_team_code,away_team_code,home_score,away_score,home_penalty,away_penalty,home_score_total,away_score_total,...,penalties_missed,penalties,red_cards,game_referees,stadium_city,stadium_name,stadium_name_media,stadium_name_official,stadium_name_event,stadium_name_sponsor
0,USSR,Yugoslavia,URS,YUG,1.0,1.0,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,[],Paris,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes
1,Czechoslovakia,France,TCH,FRA,2.0,0.0,NaN,NaN,2.0,0.0,...,NaN,NaN,NaN,[],Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Orange Vélodrome
2,Czechoslovakia,USSR,TCH,URS,0.0,3.0,NaN,NaN,0.0,3.0,...,NaN,NaN,NaN,[],Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Stade de Marseille,Orange Vélodrome
3,France,Yugoslavia,FRA,YUG,4.0,5.0,NaN,NaN,4.0,5.0,...,NaN,NaN,NaN,[],Paris,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes,Parc des Princes
4,Spain,USSR,ESP,URS,2.0,1.0,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,[],Madrid,Estadio Santiago Bernabéu,Estadio Santiago Bernabéu,Estadio Santiago Bernabéu,Estadio Santiago Bernabéu,NaN

We have to predict the 2024 matches so let's add those matches to its own dataframe

In [16]:
matches_2024 = pd.read_csv('matches/2024.csv')
matches_2024.head()

,home_team,away_team,home_team_code,away_team_code,home_score,away_score,home_penalty,away_penalty,home_score_total,away_score_total,...,penalties_missed,penalties,red_cards,game_referees,stadium_city,stadium_name,stadium_name_media,stadium_name_official,stadium_name_event,stadium_name_sponsor
0,W49,W50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,[],Berlin,Olympiastadion,Olympiastadion,Olympiastadion,Olympiastadion,Olympiastadion
1,W47,W48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,[],Dortmund,BVB Stadion Dortmund,BVB Stadion Dortmund,BVB Stadion Dortmund,BVB Stadion Dortmund,Signal Iduna Park
2,W45,W46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,[],Munich,Munich Football Arena,Football Arena Munich,Fußball Arena München,Munich Football Arena,Allianz Arena
3,W43,W44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,[],Berlin,Olympiastadion,Olympiastadion,Olympiastadion,Olympiastadion,Olympiastadion
4,W40,W38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,[],Dusseldorf,Düsseldorf Arena,Düsseldorf Arena,Düsseldorf Arena,Düsseldorf Arena,ESPRIT arena